/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table th, td {
    text-align: center;
}

#graph {
    height: 1000px;
    width: 100%;
}

.today-card {
    max-width: 28vw;
    height: auto;
    padding: 0, 1vw, 0, 1vw;
    margin: 10px 1vw 10px 1vw;
    box-shadow: 0px 0px 5px #333;
    align-items: center;
    display: inline-block;
    float: none;
    font-size: 1vw;
}
.center-row {
  text-align: center;
}
.dash-name {}

.homescreen-mrp-name {
    vertical-align: middle;
    font-size: 3vw;
    font-family: sans-serif;
    font-weight: bolder;
}

.homescreen-mrp-description {
  margin-bottom: -2vh;
}

.dash-start-end {
    background-color: #efefef;
    padding: 1vh;
}
.bolder {
  font-weight: bold;
}

.dash-complete {
    padding: 1vh;
}

.homescreen-time {
  font-size: 2vw;
  font-weight: 600;
}

.red {
  background-color: #f85151;
}

.yellow {
  background-color: #ffc861;
}

.green {
  background-color: #cceecc;
}
